<router-outlet></router-outlet>
<h2>AJUSTES A TABLAS DE INGRESOS Y EGRESOS</h2>
<p class="lead">No Plugins <b>Revision de Codigos y Resumen de cuentas</b></p>

<!-- Upload  -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <form id="file-upload-form" class="uploader">
        <input id="file-upload" type="file" name="fileUpload" (change)="fileUpload($event)" accept=".xls,.xlsx" />
      
        <label for="file-upload" id="file-drag">
          <img id="file-image" src="#" alt="Preview" class="hidden">
          <div id="start">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>Por favor seleccione un archivo xls EXCEL</div>
            <div id="notimage" class="hidden">Por favor seleccione un archivo xls EXCEL</div>
            <span id="file-upload-btn" class="btn btn-primary">Seleccione el archivo</span>
          </div>
          <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
              <span>0</span>%
            </progress>
          </div>
        </label>
      </form>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 mt-5 text-center mb-3"> 
      <div class="row">
        <div class="col-4">
          <button (click)="exportexcel()" class="btn btn-outline-success" type="button">Exportar a Excel</button>
        </div>
        <div class="col-4">
          <button type="button" (click)="ejecutarResumenIngresos()" class="btn btn-outline-primary">Ejecutar resumen</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <table id="excel-table" class="table table-bordered border border-3 table-hover">
        <thead>
        <tr>
          <th class="columnas">FUENTE PRESUPUESTAL</th>
          <th class="columnas" style="background-color: rgb(155, 155, 229);">RUBRO PRESUPUESTAL</th>
          <th class="columnas">CONCEPTO</th>
          <!-- <th class="columnas">CONCEPTOS DE INGRESO</th> -->
          <th class="columnas" style="background-color: rgb(155, 155, 229);">APROPIACION INICIAL</th>
          <th class="columnas" style="background-color: rgb(155, 155, 229);">RECAUDO</th>
          <th class="columnas" style="background-color: rgb(155, 155, 229);">CPC</th>
          <th class="columnas" style="background-color: rgb(155, 155, 229);">FUENTES DE FINANCIACION</th>
          <th class="columnas" style="background-color: rgb(155, 155, 229);">TERCEROS</th>
          <th class="columnas" style="background-color: rgb(155, 155, 229);">POLITICA PUBLICA</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of datosTabla">
          <td class="columnas">{{item.CONCEPTOPRESUPUESTAL}}</td>
          <td class="columnas" style="background-color: rgb(155, 155, 229);">{{item.RUBROPRESUPEUSTAL}}</td>
          <td class="columnas">{{item.CONCEPTO}}</td>
          <!-- <td class="columnas">{{item.ConceptosdeINGRESO}}</td> -->
          <td class="columnas" style="background-color: rgb(155, 155, 229);">{{item.APROPIACIONINICIAL}}</td>
          <td class="columnas" style="background-color: rgb(155, 155, 229);">{{item.RECAUDO}}</td>
          <td class="columnas" style="background-color: rgb(155, 155, 229);">{{item.CPC}}</td>
          <td class="columnas" style="background-color: rgb(155, 155, 229);">{{item.FUENTESDEFINANCIACION}}</td>
          <td class="columnas" style="background-color: rgb(155, 155, 229);">{{item.TERCEROS}}</td>
          <td class="columnas" style="background-color: rgb(155, 155, 229);">{{item.POLITICAPUBLICA}}</td>
        </tr>
        </tbody>
      </table>
    </div>
 
  
</div>
</div>